body {
  background-image: url('../assets/img/globos.jpg');
  font-family: 'Merienda', cursive;
}
#offset, #word, #encodDecod, #container-opacity, #container-header {
  position: relative;
}

#container-opacity {
  background: rgba(76, 175, 80, 0.3);
  height: 23em;
  padding-top: 3em;
  top: 4em;
}

header{
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(122, 23, 77);
}

#container-header {
  /* background: rgba(80, 85, 12, 0.6); */
  background-image: linear-gradient(to right, rgba(122, 129, 27, 0.6), rgba(255, 255, 255, 0.671));
  width: 29em;
  top: 1.5em;
}

#offset{
  bottom: 2em;
}

#word, #encodDecod {
  bottom: 1em; 
}

#encod {
  background-color: rgba(81, 57, 216, 0.8);
  color: rgb(241, 246, 248);
}

#decod {
  background-color: rgba(37, 68, 50, 0.8);
  color: rgb(241, 246, 248);
}

#delete {
  background-color: rgba(163, 68, 241, 0.8);
  color: rgb(241, 246, 248);
}

@media screen and (max-width: 991px) {
  #container-textarea {
    top:2em;
  }

  #container-opacity {
    height: 25.5em;
  }
}

@media screen and (max-width: 760px) {
  #container-opacity {
    height: 31em;
  }
}

@media screen and (max-width: 575px) {  
  #container-header {
    width: auto;
  }
  #container-textarea {
    top:2em;
  }

  #container-opacity {
    height: 31em;
  }
}