body {
    background-color: #fcb77e;
    font-family: Lucida Sans Unicode;
    font-style: oblique;
    color: #d0575e;
    font-size: large;
}

#img, #img2{
    width: auto;
    margin: 5em 5em;
}

#caja, #caja2{
    background-color: rgb(228,136,113,.5);
}
#caja{
    top: 2em;
    left: 27em;
    width: 30em;
    height: 6em;
    color: #b6848ff1;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
}

.btn-group{
    margin: 0em 4.5em;
}

