body {
    background-color: #fcb77e;
    font-family: Lucida Sans Unicode;
    font-style: oblique;
    color: #d0575e;
    font-size: large;
}

#img, #img2{
    width: auto;
    margin: 5em 5em;
}
#row1{
    width: 30em;
}
#caja2{
    background-color: rgb(228,136,113,.5);
}
#caja{
    background-color: rgb(220,20,60,.3);
    top: 2em;
    left: 28em;
    height: 5.5em;
    color: #ad707de1;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
    font-size: large;
}

.btn-group{
    margin: 0em 4.5em;
}

